  @font-face {
    font-family: Itim;
    src: url(resources/fonts/Itim-Regular.ttf);
  }


:root{
    --mainColor:#eaeaea;
    --windowColor: #fff;
    --secondaryColor: #464646;

    --borderColor: #c1c1c1;

    --mainText:black;
    --secondaryText: #4b5156;

    --windowsfont: "Segoe UI";
}

html, body {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

a, p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Segoe UI';
    text-decoration: none;
}


ul {
    list-style: none;
    padding: 10px;
    margin: 0px;
}

li {
    margin: 5px 0px;
    padding: 1px;
}

li > button{
    width: -webkit-fill-available;
    padding: 10px 5px;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: #464646;
    border-bottom: 1px solid  var(--borderColor);
    overflow: auto;
    height: 100px;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    transition: 0.2s;
}

.main-window-wrapper {
    background-color: var(--windowColor);
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: 20px 20px 20px 15px rgba(0,0,0,0.14);
    -moz-box-shadow: 20px 20px 20px 15px rgba(0,0,0,0.14);
    box-shadow: 20px 20px 20px 15px rgba(0,0,0,0.14);
    margin: 10% 5%;
    transition: 0.2s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.header-wrapper{
    display: flow-root;
    background: var(--windowColor);   
    background: linear-gradient(90deg, rgba(255,255,255,1) 29%, rgba(19,93,177,1) 87%, rgba(19,93,177,1) 100%);
}

.current-window{
    display: flex;
    float: left;
}

.window-icon-separator{
    width: 1px;
    height: 16px;
    background-color: gray;
    align-self: center;
}

.current-window > p{
    margin: 5px;
    align-self: center;
    color: black;
    cursor: default;
}
.nav-icons{
    display: flex;
    float: right;
    margin: 3px;
}

.nav-mini, .nav-maxi, .nav-close{
    display: flex;
    background-color: #ADADA5;
    color: black;
    padding: 5px 12px;
    margin: 0px 0.5px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    min-width: 21px;
    min-height: 15px;

}
.nav-close{
    background-color: #e50000;
    color: white;
}

.navigation{
    padding: 10px 1px 0px;
    font-family: var(--windowsfont);
    display: flex;
}

.current-page{
    font-size: 18px;
    display:flex;
    height: fit-content;
    margin: 0% 10%;
    border: 1px solid var(--borderColor);
}

.current-page > div { 
    margin-left: 10px;
}

.current-page > div > a{
    display: inline-flex;
    margin: 5px;
    align-self: center;
    color: black;
    cursor: pointer;
    padding: 5px;
}

.current-page a{
    color: black;
    margin: 0px;
}

.current-page a:hover{
    background-color: var(--mainColor);
}



.menubtn {
    background-color: white;
    color: black;
    font-size: 18px;
    margin: 0px 1px;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-family: var(--windowsfont);
  }

  .menubtn.home {
    background-color: #135db1;
    color: var(--windowColor);
  }
  
  .menubtn.home:hover {
    background-color: #2a6db8;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    margin: 0px 0px 0px -3px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 470px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #FAFAFA;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  .menubtn:hover, .dropdown:hover .menubtn {
    background-color: #FAFAFA;
    
  }



.window-subcontent{
    display:flex;
    width:30%;
    background-color: red;
    height:1220px;
}

.window-content{
    display:flex;
    min-height: 500px;
    margin:10px;
    width: auto;
}

.left-side{
    display: block;
    width: 18%;
}
    
.right-side{
    display: block;
    width: 82%;
}

.content-heading{
    display: flex;
    margin: 10px;
}
.ch-title{
    display: block;
    margin: 0px;
    width: max-content;
    white-space: nowrap;
    font-family: "Segoe UI";
    font-size: 12px;
}
.ch-sep{
    display: block;
    margin: 10px 0px 0px 2px;
    width: 100%;
    background-color: var(--borderColor);
    height: 1px;
}

table{
    display: block;
    margin: 1% 10%;
}

tr > td {
    min-width: 150px;
    font-size: 18px;
    font-family: var(--windowsfont);
}

.tbl-with-img {
    display:flex;

}

.tbl-with-img > table {
    width:55%;
}
.tbl-with-img > img {
    width: 140px;
    height: 165px;
    border-radius: 25%;
}




.instructions{
    display: flex;
    height: 100%;
    background-color: var(--windowColor);
    font-size: 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.week{
    display :none;
}

.week .weekhead, .week .weeksubhead{
    display: block;
    font-size: 48px;
    text-align: center;
    font-family: var(--windowsfont);
    margin: 0px;
}

.week .weeksubhead{
    font-size: 40px;
    font-style: italic;
}

.week hr{
    display: block;
    margin: 5px auto;
    width: 50%;
    height: 5px;
    border-radius: 50%;
    background-color: lightgray;
}

.week.one{
}

.week.two{
    
}

.week.three{
}

.week.four{
}

.week.five{
}

.week.six{
}

.week.seven{
}

.week.eight{
}

.ach{
    display:none;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.ach img{
    width: 100%;
}

ul.microsoft{
    display: none;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: auto;
        margin: 10% 5%;
        transition: 0.2s;
    }
}

@media screen and (max-width: 1000px){
    .window-content {
        display: block;
        margin: 10px;
        width: auto;
    }
    .left-side {
        display: block;
        width: 100%;
    }
    .right-side{
        display: block;
        width: 100%
    }

   

    ul {
        flex-wrap: wrap;
        list-style: none;
        padding: 0px;
        margin: 0px;
        justify-content: center;
    }

    li>button{
        min-width: 270px;
    }
    

    .navigation {
        padding: 10px 1px 0px;
        display: flow-root;
    }
    .dropdown {
        position: relative;
        display: inline-block;
        margin: 0px 0px 0px -8px;
    }
}

@media screen and (max-width: 750px){
    .tbl-with-img {
        display: block;
        text-align: -webkit-center;
    }
    .tbl-with-img > table {
        min-width: 300px;
    }
    tr > td {
        min-width: 100px;
        font-size: 14px;
        flex-wrap: wrap;
    }
    .menubtn {
        font-size: 14px;
    }
    .current-page {
        font-size: 14px;
    }
    
    ul {
        display: block;
    }

    li {
        margin: 2px 0px;
        padding: 0px;
    }

    li > button 
    {
        width: -webkit-fill-available;
        padding: 5px;
        font-size: 12px;
    }

    .instructions {
        display: flex;
        height: 400px;
        background-color: var(--windowColor);
        font-size: 28px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .week .weekhead, .week .weeksubhead {
        font-size: 32px;
    }
    .week .weeksubhead {
        font-size: 26px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #F1F1D8;
        min-width: 300px;
        border: 1px solid dimgray;
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 8px 5px;
        text-decoration: none;
        display: block;
        font-size: 12px;
    }
    .nav-mini, .nav-maxi, .nav-close {
        display: flex;
        background-color: #ADADA5;
        color: black;
        padding: 0px 10px;
        margin: 0px 0.5px;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        min-width: 14px;
        min-height: 20px;
    }

    .current-window {
        display: flex;
        float: left;
        font-size: 12px;
    }

    .main-window-wrapper{
        margin: 10% 0%;
    }
}
